 /* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import
url("https://fonts.googleapis.com/css?family=Audiowide|Sofia|Trirong");


* {
  margin: 0;
  padding: 0;
  outline:0;
  box-sizing: border-box; 
  font-family: "Poppins", sans-serif; 
  list-style:none;
  text-decoration:none;
  overflow:none;
} 

html{
  overflow-x: hidden ;
  font-size:65.2%;
  scroll-padding-top:6rem;
  scroll-behaviour:smooth;
}

header {
    position : fixed ;
    width:100%;
    top:0;
    right:0;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:30px 9%;
    background :#bfffff60;
    z-index:1000;
    border-bottom:2px solid #0000CD;
    backdrop-filter:blur(6px);
}

.logo{
    font-size:15px;
    color:#000;
    font-weight:600;
}

.logo span{
    font-size:18px;
    color:#ff742b;
    font-weight:500;
}

.navbar{
    display:flex;
}

.navbar a{
    margin:0 20px;
    padding:4px;
    color:#000;
    font-size:17px;
    font-weight:500;
    border-bottom:2px solid transparent;
    transition :all .50s ease;
}

.navbar a:hover{
    border-bottom:2px solid #0000CD;
    color:#0000CD;
}

.sidebar{
    display :none;
}

.list {
    padding:20px;
    font-size:20px;
}

.list a{
    margin:0 20px;
    color:#fff;
    font-weight:500;
    border-bottom:2px solid transparent;
    transition :all .50s ease;
}

.list li:hover{
    color:#ff742b;
    border-bottom:2px solid #ff742b;
    padding: 6px ;
}

#menu-icon{
    font-size:34px;
    pointer:cursor;
    z-index:100;
    display:none;
}

.icon{
    font-size:22px;
    color: #0000CD;
}

.icon i{
    padding:0 0.5rem;
}

.icon i:hover{
    color:#ff742b;
}

/* section */
.home{
  display :flex;
  background :url(./img/main.jpg) no-repeat;
  background-position:center;
  background-size:cover;
  height:100vh;
  padding :2rem 9%;
  align-items:center;
}

.home .content {
  max-width:50rem;
}

.home .content span{
  font-size:50px;
  color:#0000CD;
  padding:16px 0;
  line-height:1.5;
  font-weight:30px;
  font-family:"Trirong", sans-serif;
}

.home .content p{
  font-size:30px;
  color:#000;
  padding:1rem 0;
  line-height:1.5;
}

.btn{
  border:2px solid #191970;
  border-radius:50px;
  border-top-left-radius:10px;
  background : transparent;
  color:#333;
  padding:12px 12px;
  display:inline-block;
  font-size:20px;
  transition :all .4s ease-out;
}

.btn:hover{
  background :#191970;
  color:#fff;
}

/* About */

.about .row{
  display:flex;
  align-items:center;
  gap:2rem;
  flex-wrap:wrap-reverse;
  padding:3rem 2rem;
  padding-bottom:3rem;
  background :#bfffff60;
  
}

.about .row .image{
  flex:1 1 40rem;
  position :;
}

.about .row .image img{
  height:100%;
  width:100%;
  border:1.5rem solid #fff;
  border-radius:5rem;
  box-shadow:0.5rem 1rem rgba(0,0,0,0.1);
  object-fit:cover;
}

.about .row .image p{
  position :initial;
  top:50%;
  background :#fff;
  text-align:center;
  color:#333;
  padding:1rem 2rem;
  transform: translateY(-130%);
  width:100%;
  font-size:3rem;
  border-radius:15px;
}

.about .row .content{
  flex:1 1 40rem;
}

.about .row .content p{
  font-size:20px;
  line-spacing:8px;
  color:#696969;
}

.about .row .content h3{
  font-size:27px;
  color:#333;
  margin-bottom:5%;
  text-transform:capitalize;
  font-family:"Trirong";
}

.about .row .content .btn{
  margin-top:16px;
}

/* Products */

.products .box-container{
  display :flex;
  flex-wrap:wrap;
  gap:1.5rem;
}

.products .box-container .box{
  flex:1 1 30rem;
  position:relative;
} 

.products .box-container .box:hover{
  transform:scale(1.1);
  transition :.4s ease-out;
}

.products .box-container .box .img{
  position:;
  padding :2rem;
  text-align:center;
  overflow:hidden;
}

.products .box-container .box .img img{
  height:25rem;
  object-fit:cover;
}

.products .box-container .box .content{
  position :initial;
  box-shadow:0 .5rem 1.5rem rgba(0,0,0,0.1);
  border-radius:.5rem;
  border:1rem rgba(0,0,0,0.1);
  padding :2rem;
  text-align:center;
  width:75%;
  height:25%;
  top:10%;
  transform: translateY(-0%);
  background :#bfffff60;
}

.products .box-container .box .content p{
  font-size:15px;
}

.products .box-container .box .content span{
  font-size:20px;
  font-weight:bolder;
}

.products .box-container .box .content .icons{
  font-size:20px;
}

.products .box-container .box .content .icons a{
  border:#ff742b 2px solid;
  padding:0.5rem 1rem;
  gap:1rem;
  margin-top:1.5rem;
}

section h3{
  color:#333;
  font-size:50px;
  text-align:center;
}

section h3 span{
  color:#ff742b;
}

/* Services */
.icon-container{
  background :#fff;
  display :flex;
  flex-wrap:wrap;
  gap:1.5rem;
  padding-top:5rem;
  padding-bottom:5rem;
}

.icon-container .image{
  background :#bfffff60;
  border:.1rem solid rgba(0,0,0,0.1);
  padding :2rem;
  display :flex;
  flex:1 1 25rem;
}

.icon-container .image img{
  height:25rem;
  margin-right:2rem;
  object-fit:cover;
}

.icon-container .image p{
  color :#000;
  padding-bottom:.5rem;
  font-size:2.5rem;
  margin-top:5rem;
}

/* contact */
.contact .row form{
  flex:1 1 40rem;
  padding :2rem 2.5rem;
  box-shadow:0.5rem 1.5rem rgba(0,0,0,0.1);
  border:.1rem solid rgba(0,0,0,0.1);
  background :#fff;
  border-radius:.5rem;
  align-items:center;
}

.contact .row form .box{
  font-size:1.7rem;
  padding:2rem;
  text-transform:none;
  color:#000;
  border:.1rem solid rgba(0,0,0,0.3);
  border-radius:3rem;
  margin:.7rem 0;
  width:100%;
  background :rgba(0,0,0,0.1);
}

::placeholder {
  font-size:20px;
}

.contact .row form .box:focus{
  border-color:#bfffff60;
}

.contact .row form textarea{
  height:15rem;
  resize:none;
}

.contact .row form .btn{
  margin:1rem 1.5rem;
}

.contact .row form p{
  text-align:center;
  font-size:20px;
  line-height:35px;
}

.contact .row form i{
  margin-right:6px;
  color:#0000CD;
}

.contact .row form a{
  color:#ff742b;
}

/* Footer */
.footer .box-container{
  display:flex;
  flex-wrap:wrap;
  gap:1.5rem;
  background:#7d7d7d3f;
  padding:1rem 2rem;
  overflow :hidden;
}

.footer .box-container .box{
  flex:1 1 25rem;
  
}


.footer .box-container .box h2{
  color:#000;
  padding :1rem 0;
  font-size:2.5rem;
}

.footer .box-container .box a{
  display:block;
  color:#000;
  padding :1rem 0;
  font-size:1.5rem;
}

.footer .box-container .box a:hover{
  color:#000;
  text-decoration:underline;
}








































@media (max-width:960px){
    header{
        padding :15px 4.5%;
    }
    #menu-icon{
        display :block;
    }
    .navbar{
        display :none;
    }
    .sidebar{
        position: absolute ;
        top:100%;
        right:-100%;
        width:200px;
        min-height:100vh;
        display:flex;
        flex-direction:column;
        background :#0000CD;
        color:#fff;
        opacity :6;
        transition :all .50s ease;
    }
    .sidebar.active{
        right:0;
    }
}

@media (max-width:991px){
  html{
    font-size:55%;
  }
  
  {
    padding:2rem;
  }
   
  section{
    padding :2rem;
  }
  
  .home {
    background-position:left;
  }
 
}

@media (max-width:768px){
  .about .row .content p{
  font-size:15px;
  line-spacing:5px;
}
  section h3{
  font-size:40px;
}
.icon-container .image p{
  color :#000;
  font-size:1.5rem;
}
 .home .content span{
   font-size:40px;
 }
 
 .home .content p{
   font-size:20px;
 }
 
}

@media (max-width:450px){
  html{
    font-size:50%;
  }
  
  .heading{
    font-size:3rem;
  }
}
